<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <!-- adds bootstrap & font awesome -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'
    />
    <script
      src='https://kit.fontawesome.com/2802beb58a.js'
      crossorigin='anonymous'
    ></script>

    <!-- adds google fonts  -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IM+Fell+English+SC&display=swap'
      rel='stylesheet'
    />

    <!-- adds stylesheets -->
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'
    />

    <title>HORRORSCOPES</title>
  </head>
  <body>
    <header class='main-header'>
      <div class='container'>
        <h1 class='mh-logo'>
          <a class='no-border' href='/'><img
              src='../images/logo.png'
              alt='HORRORSCOPES logo'
            /></a>
        </h1>
        <nav class='main-nav'>
          <ul class='main-nav-list'>
            <li>
              <a class='nav-link active' href='all-signs'>ALL SIGNS</a>
            </li>
            <li>
              <a class='nav-link' href='abyss'>THE ABYSS</a>
            </li>
            <li>
              <a class='nav-link' href='daily-reading'>DAILY READING</a>
            </li>
            <li>
              <a id='logout' class='nav-link' href='/'>LOGOUT</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <!-- footer -->
    <footer>
      <hr />
      <h3>
        Made with
        <i class='fa-solid fa-wand-magic-sparkles'></i>
        by Katelyn Armstrong, Atticus Robinson, Lucas Rodgers & Bridgett Valet
      </h3>
    </footer>
    <!-- footer end -->
  </body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</html>