{{! main body and card containers }}
<div class='container'>
  <h1>THE ABYSS</h1>
  <div class='row justify-content-center p-3'>
    <div class='d-flex flex-wrap justify-content-center'>
      <div class='col-4'>
{{!  TODO: MAKE SURE LOGGED IN USER CARD POPULATES HERE  }}
        <img src='../images/card-front.png' alt='back of card' />
      </div>
      <div class='welcome col-8'>
        <h1 class='serif-title mt-3'>Welcome. To The Abyss.</h1>
        <p class='dark-text'>
          Consider The Abyss to be your personal, day-to-day way to keep your
          thoughts on the day and universe at large in one place. After you have
          saved your Daily Reading to the Abyss, it will appear here.
        </p>
        <p class='dark-text'>
          Review old Horrorscopes, comment on them ("My aura was FAR from dim today!"), or delete them altogether. Its your safe space - and we all know how hard it is to find one of those. Make it your own.
        </p>
      </div>
{{! SAVED USER DATA GOES HERE  }}
  {{#each posts as |post|}}
       <div class='welcome col-5 mt-3 mr-2'>
        {{!-- <h2 class='serif-title mt-3 left'>3.30.2022 @ 7:42p</h2>
        <p class='dark-text'>
          Your Star Rating for the Day:
          <img
            src='/images/stars/three-star.png'
            alt='three star day'
            class='star-height'
          /></p> --}}
        <p class='dark-text my-3'>
            {{post.description}}
        </p>
        <button class='my-3'>COMMENTS</button>
        <button class='mx-2 my-3'>DELETE</button>
      </div>
      {{/each}}
     </div>
    </div>
</main>