    <main class="container">
        <div class="row justify-content-center p-3">
          <h1>ALL SIGNS</h1>
          <div class="d-flex flex-wrap justify-content-center column">
            <div class="cards p-1">
              <img src="../images/cards/taurus.png" alt="taurus card" />
              <h2>DATES</h2>
              <p>APR 20 - MAY 20</p>
              <h2>TRAITS</h2>
              <p>Strong, Dependable, Sensual & Creative.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/gemini.png" alt="gemini card" />
              <h2>DATES</h2>
              <p>MAY 21 - JUN 20</p>
              <h2>TRAITS</h2>
              <p>Versatile, Expressive, Curious & Kind.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/cancer.png" alt="cancer card" />
              <h2>DATES</h2>
              <p>JUN 21 - JUL 22</p>
              <h2>TRAITS</h2>
              <p>Intuitive, Sentimental, Compassionate & Protective.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/leo.png" alt="leo card" />
              <h2>DATES</h2>
              <p>JUL 23 - AUG 22</p>
              <h2>TRAITS</h2>
              <p>Dramatic, Outgoing, Fiery & Self-Assured.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/virgo.png" alt="virgo card" />
              <h2>DATES</h2>
              <p>AUG 23 - SEP 22</p>
              <h2>TRAITS</h2>
              <p>Practical, Loyal, Gentle & Analytical.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/libra.png" alt="libra card" />
              <h2>DATES</h2>
              <p>SEP 23 - OCT 22</p>
              <h2>TRAITS</h2>
              <p>Social, Fair-Minded, Diplomatic & Gracious.</p>
            </div>
          </div>
          <div class="d-flex justify-content-center column">
            <div class="cards p-1">
              <img src="../images/cards/scorpio.png" alt="scorpio card" />
              <h2>DATES</h2>
              <p>OCT 23 - NOV 21</p>
              <h2>TRAITS</h2>
              <p>Passionate, Stubborn, Resourceful & Brave.</p>
            </div>
            <div class="cards p-1">
              <img
                src="../images/cards/sagittarius.png"
                alt="sagittarius card"
              />
              <h2>DATES</h2>
              <p>NOV 22 - DEC 21</p>
              <h2>TRAITS</h2>
              <p>Extroverted, Optimistic, Funny & Generous.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/capricorn.png" alt="capricorn card" />
              <h2>DATES</h2>
              <p>DEC 22 - JAN 19</p>
              <h2>TRAITS</h2>
              <p>Serious, Independent, Disciplined & Tenacious.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/aquarius.png" alt="aquarius card" />
              <h2>DATES</h2>
              <p>JAN 20 - FEB 18</p>
              <h2>TRAITS</h2>
              <p>Deep, Imaginative, Original & Uncompromising.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/pisces.png" alt="pisces card" />
              <h2>DATES</h2>
              <p>FEB 19 - MAR 20</p>
              <h2>TRAITS</h2>
              <p>Affectionate, Empathetic, Wise & Artistic.</p>
            </div>
            <div class="cards p-1">
              <img src="../images/cards/aries.png" alt="aries card" />
              <h2>DATES</h2>
              <p>MAR 21 - APR 19</p>
              <h2>TRAITS</h2>
              <p>Eager, Dynamic, Quick & Competitive.</p>
            </div>
          </div>
        </div>
    </main>