<!-- login fields -->
<main class = "container">
  <section class="row justify-content-center d-flex flex-wrap">
    <div class="col-12 col-lg-4 welcome main d-flex flex-wrap">
      <form class="login-form justify-content-center">
        <div class="form-field">
          <input class="email1" type="email" placeholder="Email" required />
        </div>
        <div class="form-field">
          <input class="pw1" type="password" placeholder="Password" required />
        </div>
        <div class="form-field">
          <input id="birthday-signup" type="date" placeholder="Birthday {{ mm/dd/yyyy }}" required />
        </div>
        <div class="form-field">
          <button class="btn" type="submit">Sign Up</button>
        </div>
      </form>
   </div>
   <div class col-12 col-lg-8>
    <!-- card image on right -->
          <img class="mx-2" src="../images/card-comp.png" alt="group of tarot-style horrorscope cards" />
        </div>
  </section>
</main>

<script src="./javascript/login.js"></script>