<!-- bootstrap -->
<link
  rel='stylesheet'
  href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'
/>
<!-- custom stylesheet -->
<link rel='stylesheet' href='./stylesheets/style.css' />

<!-- login fields -->
<main class='container'>
  <section class='row justify-content-center d-flex flex-wrap'>
    <div class='col-12 col-lg-4 welcome main d-flex flex-wrap'>
      <form class='signup-form justify-content-center'>
        <div class='form-field'>
          <input id='email-signup' type='email' placeholder='Email' required />
        </div>
        <div class='form-field'>
          <input
            id='password-signup'
            type='password'
            placeholder='Password'
            required
          />
        </div>
        <div id="dropdownMenu2">
          <select id ="pickOne">
              <option
                class='dropdown-item birthday-signup'
                id='taurus'
                value='Taurus'
              >Taurus: Apr 20 - May 20</option>
              <option
                class='dropdown-item birthday-signup'
                id='gemini'
                value='Gemini'
              >Gemini: May 21 - Jun 20</option>
              <option
                class='dropdown-item birthday-signup'
                id='cancer'
                value='Cancer'
              >Cancer: Jun 21 - Jul 22</option>
              <option
                class='dropdown-item birthday-signup'
                id='leo'
                value='Leo'
              >Leo: Jul 23 - Aug 22</option>
              <option
                class='dropdown-item birthday-signup'
                id='virgo'
                value='Virgo'
              >Virgo: Aug 23 - Sep 22</option>
              <option
                class='dropdown-item birthday-signup'
                id='libra'
                value='Libra'
              >Libra: Sep 23 - Oct 22</option>
              <option
                class='dropdown-item birthday-signup'
                id='scorpio'
                value='Scorpio'
              >Scorpio: Oct 23 - Nov 21</option>
              <option
                class='dropdown-item birthday-signup'
                id='sagittarius'
                value='Sagittarius'
              >Sagittarius: Nov 21 - Dec 21</option>
              <option
                class='dropdown-item birthday-signup'
                id='capricorn'
                value='Capricorn'
              >Capricorn: Dec 22 - Jan 19</option>
              <option
                class='dropdown-item birthday-signup'
                id='aquarius'
                value='Aquarius'
              >Aquarius: Jan 20 - Feb 18</option>
              <option
                class='dropdown-item birthday-signup'
                id='pisces'
                value='Pisces'
              >Pisces: Feb 19 - Mar 20</option>
              <option
                class='dropdown-item birthday-signup'
                id='aries'
                value='Aries'
              >Aries: Mar 21 - Apr 19"</option>
          </select>
        </div>

        <div id ="selection-render">
          <p id="hello-text">Hello there, 
            <span class="output"></span>
          </p>
        </div>
      <div class="form-field">
        <button id="signup" button type="submit" class="btn btn-primary" onclick="signChoice()">SIGN UP!</button> 
        </div>
      </div>
      </form>
    </div>
    <div class col-12 col-lg-8>
      <!-- card image on right -->
      <img
        class='mx-2'
        src='../images/card-comp.png'
        alt='group of tarot-style horrorscope cards'
      />
    </div>
  </section>
</main>

<!-- script sources -->
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'
></script>
<script
  src='https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js'
  integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49'
  crossorigin='anonymous'
></script>
<script
  src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'
></script>
<script src='./javascript/sign-up.js'></script>