{{! daily reading  }}
<main class='container'>
  <h1>DAILY READING</h1>
  <div class='row justify-content-center p-3'>
    <div class='d-flex flex-wrap justify-content-center'>
      <div class='p-2 col-4'>
        <img src={{image}} alt='sign card' />
      </div>
      <div class='welcome col-8'>
        {{#if login}}
          <h1 class='serif-title mt-3'>Hello, {{birthday}}.</h1>
          <p class='dark-text bold'>
            {{date}}
          </p>
        {{/if}}
        <p class='dark-text bold'>
          Your Star Rating for the Day:
          <div class="star-rating" onload='getStarArray()'></div>
            </p>
        <p class='dark-text' id='horoscopeText' onload="newHoroscope()">
        </p>
        <button class='no-border' id='abyssBtn'>SEND TO ABYSS
        </button>
      </div>
    </div>
  </div>
</main>

{{!-- <script src='./javascript/assign-card.js'></script> --}}
<script src='./javascript/star-assign.js'></script>
<script src="./javascript/pull-horoscope.js"></script>
<script src="./javascript/add-post.js"></script>