
<!-- login fields -->
<main class = "container">
  <section class="row justify-content-center d-flex flex-wrap">
    <div class="col-5 welcome main d-flex flex-wrap">
      <form class="login-form">
        <div class="form-field">
          <input id="email1" type="email" placeholder="Email" required />
        </div>
        <div class="form-field">
          <input id="pw1" type="password" placeholder="Password" required />
        </div>
          <button class="btn push" type="submit">Log in</button>\
          <p><a href="create-account.html">CREATE ACCOUNT</a></p>
      </form>
      </div>
    <div class="col-3">
<!-- TODO: WOULD BE COOL IF THIS WERE A RANDOMLY PULLED CARD -->
              <img src="../images/cards/sagittarius.png" alt="sagittarius card" />
            </div>
            <div class="col-4 welcome main d-flex flex-wrap">
              <h2 class="serif-title2 mt-3">Welcome To Horrorscopes.</h2>
                <p class="dark-text bump-up"> Ready or not, your daily Horrorscope is ready and waiting. To see what the fates have in store for you or to comment on a previously saved post, simply login or create an account. </p>
            </div>
           </div>
          </section>
        </main>
<!-- 
      <form>
       <div class="form-control">
          <input type="text" required>
           <label for="email"><b><i class="fa-solid fa-user"></i> EMAIL</b></label>
       </div>
       <div class="form-control">  
         <input type="password" required>
           <label for="password"><b><i class="fa-solid fa-lock"></i> PASSWORD</b></label>
       </div>
       <button class="btn">GET STARTED</button>
      <p class="dark-text">NO ACCOUNT? <a href="create-account.html" class="dark-text">CREATE ACCOUNT</a></p>
    </form> -->
    <!-- </div>

    <div class="col-2 d-flex flex-wrap">  -->

<script src="./javascript/login.js"></script>
