
<!-- login fields -->
<main class = "container">
  <section class="row justify-content-center d-flex flex-wrap">
    <div class="col-5 welcome main d-flex flex-wrap">
      <form class="login-form">
        <div class="form-field">
          <input class="email1" type="email" placeholder="Email" required />
        </div>
        <div class="form-field">
          <input class="pw1" type="password" placeholder="Password" required />
        </div>
          <button type="submit">Log in</button>
          <p class="py-2"><a href="create-account">CREATE ACCOUNT</a></p>
      </form>
      </div>
 {{!-- TODO: WOULD BE COOL IF THIS WERE A RANDOMLY PULLED CARD --}}
            <div class="col-3">
              <img id='random' src="../images/cards/sagittarius.png" alt="sagittarius card" />
            </div>
            <div class="col-4 welcome main d-flex flex-wrap">
              <h2 class="serif-title2 mt-3">Welcome To Horrorscopes.</h2>
                <p class="dark-text bump-up"> Ready or not, your daily Horrorscope is ready and waiting. To see what the fates have in store for you or to comment on a previously saved post, simply login or create an account. </p>
            </div>
           </div>
          </section>
        </main>

<script src="./javascript/login.js"></script>
<script src="./javascript/generate-random-card.js"></script>
