  <header class="main-header">
      <div class="container">
        <h1 class="mh-logo">
          <a class="no-border" href="index.html"><img src="../images/logo.png" alt="HORRORSCOPES logo" /></a>
        </h1>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li>
              <a class="nav-link active" href="all-signs.html">ALL SIGNS</a>
            </li>
            <li>
              <a class="nav-link" href="abyss.html">THE ABYSS</a>
            </li>
            <li>
              <a class="nav-link" href="daily-reading.html">DAILY READING</a>
            </li>
            <li>
              <a class="nav-link" href="logged-out.html">LOGOUT</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

<!-- login fields -->
<main class = "container">
  <section class="row justify-content-center d-flex flex-wrap">
    <div class="col-5 welcome main d-flex flex-wrap">
      <form>
        <div class="form-field">
          <input type="email" placeholder="Email" required />
        </div>
        <div class="form-field">
          <input type="password" placeholder="Password" required />
        </div>
          <button class="btn push" type="submit">Log in</button>\
          <p><a href="create-account.html">CREATE ACCOUNT</a></p>
      </form>
      </div>
    <div class="col-3">
<!-- TODO: WOULD BE COOL IF THIS WERE A RANDOMLY PULLED CARD -->
      <img src="/images/cards/sagittarius.png" alt="sagittarius card" />
    </div>
    <div class="col-4 welcome main d-flex flex-wrap">
        <div class="form-field">
          <button class="btn" type="submit">Log in</button>
        </div>
      </form>
    
   </div>
  </section>
</main>
<!-- 
      <form>
       <div class="form-control">
          <input type="text" required>
           <label for="email"><b><i class="fa-solid fa-user"></i> EMAIL</b></label>
       </div>
       <div class="form-control">  
         <input type="password" required>
           <label for="password"><b><i class="fa-solid fa-lock"></i> PASSWORD</b></label>
       </div>
       <button class="btn">GET STARTED</button>
      <p class="dark-text">NO ACCOUNT? <a href="create-account.html" class="dark-text">CREATE ACCOUNT</a></p>
    </form> -->
    <!-- </div>

    <div class="col-2 d-flex flex-wrap">  -->