/* main body styles */
body {
    background-image: url("../../images/home-bg-complete.jpg");
    color: var(--white);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    line-height: 1.2; 
  }

/* sets horrorscopes logo width */
.logo {
    width: 35%;
    float: left;
}

main {
    width: 100%;
}

h1 {
    text-align: left;
}

h2 {
    font-size: 1.4rem;
}

.cards-container {
    width: 80%;
}
/* .cards-all {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
} */
/* .cards-all img {
    width: 15%;
    padding: 1%
} */

/* .row {
    display: flex;
    flex-wrap: wrap;

} */

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: 8px;
    max-width: 16%;
    flex: 16%;
    float: left;
    padding-right: 2%;
}

.cards img {
    padding-bottom: 6%;
}

.cards p {
    font-family: "IM Fell English";
    margin-top: -4%;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding-left: 5%;
    justify-content: center;
}

.column img {
    vertical-align: middle;
    max-width: 100%;
}

/* @media screen and (max-width: 800px) {
    .column img {
        vertical-align: middle;
        flex: 45%;
        max-width: 45%;
        padding-left: 5%;
    }
} */
