/* globals */
:root {
    --blue: #88d9fb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main body styles */
body {
  background-image: url('../../images/home-bg-complete.jpg');
  color: var(--white);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}

/* sets horrorscopes logo width */
.logo {
  width: 40%;
}

main {
  width: 100%;
}

h1 {
  text-align: left;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  opacity: 75%;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #ffffff;
  height: 1px;
  opacity: 50%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-nav ul {
  margin: 1em 0 0.5em;
  text-align: center;
}
.main-nav li {
  display: inline;
}

.main-nav a {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-size: 1.3rem;
}
a {
  padding: 1em;
  color: white;
}

a:hover {
    border: var(--blue) 2px solid;
    border-radius: 15px;
    color: var(--blue);
    box-shadow: 0 0 15px var(--blue);
    text-decoration: none;
}

div {
  border: 1px dotted crimson;
}

.cards-container {
  width: 80%;
}

.cards {
  width: 15%;
}

.cards img {
  padding-bottom: 6%;
}

.cards p {
  font-family: 'IM Fell English';
  margin-top: -4%;
  text-align: center;
  font-size: 0.9rem;
}

.cards2 p {
  font-family: 'IM Fell English';
  margin-top: -4%;
  text-align: center;
  font-size: 0.9rem;
}

.column img {
  max-width: 100%;
}

.welcome {
    background: rgba(240, 255, 255, .55);
    background-color: azure;
    opacity: 55%;
}

.serif-title {
    font-family: 'IM Fell English';
    font-size: 2.5rem;
    color: black;
}

.dark-text {
    color: black;
    font-family: 'IM Fell English';
    line-height: 200%;
}

button {
    background-color: var(--blue);
    border-radius: 5px;
    border: none;
    opacity: 100% !important;
    color: white;
    padding: 2% 4%;
    float: right;
    box-shadow: 4px 4px rgba(0,0,0,0.3);
}

button:hover {
    background-color: white;
    color: var(--blue);
    border: var(--blue) 2px solid;
    border-radius: 5px;
}

.serif-title2 {
    font-size: 1.5rem;
    color: black;
    text-align: left;
    font-family: 'IM Fell English';
}

/* media queries  */
@media screen and (max-width: 866px) {
  .column {
    flex-wrap: wrap;
  }
  .cards {
    width: 30%;
  }
  h1 {
    text-align: center;
    /* margin-top: 10%; */
  }
  .logo {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
}

@media screen and (max-width: 530px) {
  .column {
    flex-wrap: wrap;
  }
  .cards {
    width: 45%;
  }
}

form {
    width: 350px;
    margin-top: 30px;
  }
  
  form .form-field::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 17px;
    color: #888888;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
  }

  form .form-field:nth-child(1)::before {
    background-image: url(../../images/user-icon.png);
    width: 20px;
    height: 20px;
    top: 15px;

  }
  form .form-field:nth-child(2)::before {
    background-image: url(../../images/lock-icon.png);
    width: 16px;
    height: 16px;
  }

form .form-field:nth-child(3)::before {
  background-image: url(../../images/cake-icon.png);
  width: 16px;
  height: 16px;
}  
  form .form-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;

  }
  form input {
    font-family: inherit;
    width: 100%;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    display: block;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    color: #4A4A4A;
    text-indent: 40px;

  }
  form .btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
    text-align: center;
    background-color: var(--blue);
    color: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
  }

